@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
  --primary : #F7A400;
  --secondary : #A0741E;
}
* {
  font-family: 'Poppins', sans-serif;
}

/* UTILS */
.color-primary {
  color: var(--primary) !important;
}
.color-secondary {
  color: var(--secondary) !important;
}
.bgcolor-primary {
  background-color: var(--primary) !important;
}
.bgcolor-primary-light {
  background-color: #FFEFD0 !important;
}
.border-primary {
  border-color: var(--primary) !important;
}
.fw-black {
  font-weight: 900;
}
.heading-underline {
  width: 100%;
  height: 3px;
  background-color: var(--primary);
}
.w-40 {
  width: 40%;
}

/* NAVBAR */
.navbar {
  transition: .2s;
  padding: 1rem 0;
}
.navbar-scrolled {
  background-color: #fff;
  box-shadow:0 .1rem .5rem rgba(0,0,0,.10)!important;
  padding: 0.5rem 0;
}
.navbar .nav-link::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: #000;
  transform: scale(0);
  transition: .15s;
  margin: 0 auto;
}
.navbar-scrolled .nav-link::after { 
  background-color: var(--primary);
  transform: scale(0);
  transition: .15s;
}
.navbar .nav-link:hover::after,
.navbar-scrolled .nav-link:hover::after,
.navbar .nav-link.active::after {
  transform: scale(1);
}
.navbar .nav-link.login-btn:hover::after,
.navbar-scrolled .nav-link.login-btn:hover::after {
  transform: scale(0);
}
.navbar-scrolled .nav-link.active::after {
  background-color: var(--primary);
}
.navbar .nav-link button {
  background-color: #FFF;
  border-color: #FFF;
  color: #212529;
}
.navbar-scrolled .nav-link button {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #FFF;
}

/* SECTION */
section {
  padding: 10rem 0;
}